NODEREDSEXOL.json
[{"id":"2354c6dc.c7574a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"763406f9.a23df8","type":"ui_form","z":"2354c6dc.c7574a","name":"","label":"","group":"b9ee34ed.b40a48","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"Under Five Deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":"Thinness Upto 19 years","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income Composition Of Resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"Predict","cancel":"Cancel","topic":"","x":62.600006103515625,"y":320.00000190734863,"wires":[["6003c5ef.11efdc"]]},{"id":"6003c5ef.11efdc","type":"function","z":"2354c6dc.c7574a","name":"Pre Token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\n//receiving pre token\nvar apikey=\"wshdFPikiwX3YjQ2K0kFAJ_qzSl6NVm3y4gWYv9Qrh_D\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":180,"wires":[["8a46c94a.482ba8"]]},{"id":"8a46c94a.482ba8","type":"http request","z":"2354c6dc.c7574a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":310,"y":100,"wires":[["46b45569.ba3abc"]]},{"id":"46b45569.ba3abc","type":"function","z":"2354c6dc.c7574a","name":"SEND FORM ENDPNT","func":"//getting token and headers\nvar token=msg.payload.access_token;\nvar instance_id=\"a3c08f0a-15aa-462f-9411-825f00d713d0\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-instance-ID\":instance_id}\n//getting variables\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\n\n//sending the user values to service endpoint\nmsg.payload = {\"fields\":[\"Year\",\"Adult_Mortality\",\"infant_deaths\",\"Alcohol\",\"percentage_expenditure\",\"Hepatitis_B\",\"Measles_\",\"_BMI_\",\"under-five_deaths_\",\"Polio\",\"Total_expenditure\",\"Diphtheria_\",\"_HIV/AIDS\",\"GDP\",\"Population\",\"_thinness_upto_nineteen_years\",\"_thinness_fivetonine_years\",\"Income_composition_of_resources\",\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["786dae0.6b94154","e0410ad9.8a7488"]]},{"id":"786dae0.6b94154","type":"http request","z":"2354c6dc.c7574a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a3c08f0a-15aa-462f-9411-825f00d713d0/deployments/3b04508f-aefb-4c22-9f5c-26ee0edff552/online","tls":"","persist":false,"proxy":"","authType":"","x":508.6000556945801,"y":357.00000190734863,"wires":[["bd71bc21.4f4ad"]]},{"id":"bd71bc21.4f4ad","type":"function","z":"2354c6dc.c7574a","name":"RECIEVE FROM ENDPNT AND LOC. CHECK","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":200,"wires":[["9813dd7e.7df91","56111828.6cb0d8"]]},{"id":"9813dd7e.7df91","type":"ui_text","z":"2354c6dc.c7574a","group":"b9ee34ed.b40a48","order":1,"width":0,"height":0,"name":"","label":"Predicted Age","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":360,"wires":[]},{"id":"56111828.6cb0d8","type":"debug","z":"2354c6dc.c7574a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":60,"wires":[]},{"id":"e0410ad9.8a7488","type":"debug","z":"2354c6dc.c7574a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":60,"wires":[]},{"id":"b9ee34ed.b40a48","type":"ui_group","z":"","name":"Default","tab":"af72becc.c4483","order":1,"disp":true,"width":"6","collapse":false},{"id":"af72becc.c4483","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]